/* Cores da loja */
:root
{
    --marromEscuro: #5c3d2f;
    --laranja: #b75c3b;
    --marrom: #be8c66;
    --bege: #e4d1ba;
    --azul: #90BDD2;
}

*{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

#img-logo{
    width: 250px;
    margin-bottom: 5px;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formulario form{
    
    text-align: center;
    margin: 0 auto;
    width: 25%;
    border: solid 2px rgb(219, 219, 219);
    padding: 20px 40px;    
}
.login-title{
    margin-bottom: 30px;
    color: var(--marromEscuro);
}
.email, .senha, .redefinir{
    /* max-width: 50%; */
    margin: 20px 0;
}

.senha-titulo, .email-titulo{
    width: 10px;
    font-size: 18px;
    color: var(--marromEscuro);
}
.redefinir
{
    text-align: start;
}

.redefinir a
{
    font-size: 14px;
    color: var(--marronEscuro);
    text-decoration: none;    
}

.redefinir a:hover
{
    color: var(--marromEscuro);
    font-weight: bold;
}

.entrar{
    border-radius: 10px;
    border: solid 1px #e4d1ba;
    padding: 8px 40px;
    font-size: 16px;
    margin: 10px 0 20px 0;
    background-color: var(--laranja);
    color: white;
    cursor: pointer;
}

div input{
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--bege);
    outline-style: none;
    width: 100%;
}

.cadastro-titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.cadastro-titulo div
{
    background-color: var(--laranja);
    padding: 2px 40px;
    border-radius: 1px;
    margin: 0 10px;
}

.cadastro-titulo p
{
    margin: 10px 0;
    color: var(--marromEscuro);
    font-weight: bold;
}

button
{
    background-color: var(--bege);
    padding: 10px 60px;
    color: var(--marromEscuro);
    border: 1px solid var(--bege);
    border-radius: 10px;    
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}