/* Cores da loja */
:root
{
    --marromEscuro: #5c3d2f;
    --laranja: #b75c3b;
    --marrom: #be8c66;
    --bege: #e4d1ba;
    --azul: #90BDD2;
}

*{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

.logo{
    
    max-width: 100%;
    margin-top: 60px;
}

#img-logo{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.formulario{
    width: 100%;
}
.formulario form{
    text-align: center;
    margin: 0 auto;
    width: 25%;
    border: solid 2px var(--azul);
    padding: 20px 5px;
    height: 250px;
}
.login-title{
    margin-bottom: 30px;
    color: var(--marromEscuro);
}
.email, .senha{
    max-width: 50%;
    margin: 20px 50px;
}
p{
    text-align: start;
    font-size: 18px;
    color: var(--marromEscuro);
}
.cadastro{
    border-radius: 20px;
    border: solid 1px #e4d1ba;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    background-color: var(--bege);
    color: var(--marromEscuro);
    cursor: pointer;
}